<!DOCTYPE html>
<html>
  <head>
    <title>500 Internal Server Error</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css">
  </head>
  <body class="bg-gray-900">
    <div class="flex text-white flex-col h-screen justify-center items-center">
      <h1 class="text-5xl text-white font-bold mb-4">500</h1>
      <p class="text-xl text-gray-400">Oops! Something went wrong.</p>
      <div class="flex inline-flex mt-10 items-center">
        <a href="/" type="button"
            class="inline-flex cursor-pointer items-center justify-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-transparant focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
            Home Page</a>
        <a href="/watch/dQw4w9WgXcQ" type="button"
            class="ml-3 inline-flex cursor-pointer items-center justify-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-transparant focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
            Free Robux</a>
      </div>
      <p style="bottom: 0;" class="text-sm absolute text-gray-800 m-12">{{e}}</p>
    </div>
  </body>
</html>