{% extends "layout.html" %}

{% block content %}
    <h3 class="text-center mt-12 text-4xl text-gray-100 mb-8">Welcome Back!</h3>
    <form class="flex flex-col items-center mt-8" method="get" action="/search">
        <label for="search_query" class="sr-only">Enter a search query</label>
        <input type="text" id="search_query" name="q" placeholder="Enter a search query" class="bg-gray-800 rounded-full py-2 px-4 text-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-transparent mb-4">
        <button type="submit" class="bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-transparent">Search</button>
    </form>
{% endblock %}
